@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #3D8168;
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkBlue: #6C7289;
    --darkGreen:  #1A4032;
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
    font-family: 'montserrat', sans-serif;
    font-size: 0.875rem;
}

.card {
    max-width: 100%;
    margin: 1em;
    background-color: var(--white);
    border-radius: 1em;
}

img {
    width: 100%;
    height: auto;
    border-radius: .5em .5em 0 0;
}

.desktop {
    display: none;
}

.card-content {
    padding: 2em;
}

.card-subtitle {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 0.5em;
    color: var(--darkGrayishBlue);
}

.card-title {
    font-family: 'fraunces', serif;
    font-size: 2rem;
    margin-bottom: 0.5em;
    color: var(--veryDarkBlue);
}

.card-description {
    margin-bottom: 1em;
    color: var(--darkGrayishBlue);
}

.price-new {
    font-size: 3em;
    font-weight: 700;
    color: var(--green);
    font-family: 'fraunces', serif;
}

.price-old {
    font-size: 1em;
    color: var(--darkGrayishBlue);
    text-decoration: line-through;
    margin-left: 1em;
}

.icon {
    margin-right: 1em;
    height: 1.5em;
    width: 1.5em;
}
.btn {
    display: flex;
    width: 100%;
    padding: 1em 2em;
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    border: none;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}

@media (min-width: 768px) {

     .card {
        height: 450px;
        width: 100%;
        position: absolute;
        display: flex;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
    }

    .img-container {
        width: 50%;
        height: 100%;
        border-radius: .5em 0 0 .5em;
    }

    img {
        border-radius: .5em 0 0 .5em;
    }

    .desktop {
       display: flex;
    }

    .mobile {
        display: none;
    }

    .card-subtitle {
        margin-top: 1rem;
    }

    .card-title {
        margin-top: 1.25rem;
    }

    .card-content {
        width: 50%;
    }

    .card-description {
        margin: 1.25rem 0;
    }

    .card-btn {
        margin: 2rem 0;
    }

    .btn:hover {
        cursor: pointer;
        transition: background-color 0.3s;
        background-color: var(--darkGreen);
    }


}